objective

Analyze Bengaluru housing data to understand how location, area, and BHK affect house prices and to generate real-life insights for buyers and investors.

Data Loading & Basic Exploration

In [ ]:
import numpy as np
import pandas as pd 
data=pd.read_csv(r"c:\Users\Wajiz.pk\Downloads\bengaluru_house_prices.csv")
data.head(10)
data.columns
data.dtypes
data.isnull().sum()

Insight
Initial exploration helps understand:
Dataset structure
Available columns
Data types
Data quality (missing values)
This step is crucial before starting any analysis.

Handling Missing Values

In [2]:
data["location"]=data["location"].fillna(data["location"].mode()[0])
data.isnull().sum()

area_type          0
availability       0
location           0
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

Insight
Missing values in location were filled using mode because it is a categorical variable.
This avoids dropping large amounts of data while keeping analysis consistent.
Business Meaning:
Accurate location data is critical for pricing and demand analysis

Duplicate Rows Handling

In [3]:
data.duplicated().sum()
data=data.drop_duplicates(subset=["area_type","availability"])

Insight
Duplicate rows can inflate demand and price trends.
Removing duplicates improves reliability and avoids biased insights.

Data Type Conversion

In [4]:
def convert_sqr(value):
    try:
        if "-" in value:
            new=value.split("-")
            if len(new)==2:
                return (float(new[0])+float(new[1]))/2
        return float(value)   
    except:
        return None

data["total_sqft"]=data["total_sqft"].apply(convert_sqr)

Insight
Area values like "2000-3000" were converted to numeric by taking the average.
This enables proper statistical analysis.
Business Meaning:
Without numeric area values, price-per-area and size comparisons are impossible.

Descriptive Statistics

In [5]:
data[["price","total_sqft"]].mean()
data[["price","total_sqft"]].min()
data[["price","total_sqft"]].max()
data[["price","total_sqft"]].median()
data[["price","total_sqft"]].std()

price          184.449846
total_sqft    2569.653391
dtype: float64

Insight
Dataset includes both budget and luxury properties.
Large standard deviation shows price and area variability in the market.

BHK Extraction & Distribution

In [6]:
data["Num_Bhk"]=data["size"].str.extract(r"(\d+)")
data=data.dropna(subset=["Num_Bhk"])
data["Num_Bhk"]=data["Num_Bhk"].astype(int)

data["Num_Bhk"].value_counts()

Num_Bhk
3    58
2    54
4    23
1    15
8     1
Name: count, dtype: int64

Insight
BHK values were extracted from text format.
2 BHK emerged as the most common configuration.
Business Meaning:
Shows buyer preference and demand trend.

Filtering Analysis
3 BHK and Above

In [8]:

filtered=len(data.loc[data["Num_Bhk"]>=3])
total=len(data)
percentage=(filtered/total)*100
round(percentage,2)

54.3

Insight:
Shows how much of the market is focused on larger families or premium buyers.

Price > 1 Crore

In [9]:

data["price"]=data["price"].astype(int)
data.loc[data["price"]>100]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,Num_Bhk
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600.00,5.0,3.0,120,4
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732.00,4.0,NaN,204,4
56,Built-up Area,20-Feb,Devanahalli,4 Bedroom,BrereAt,3210.00,NaN,NaN,192,4
81,Built-up Area,18-Oct,Hennur Road,4 Bedroom,Gollela,3203.50,NaN,NaN,224,4
183,Super built-up Area,21-Jun,Vijayanagar,3 BHK,Saahaat,1704.00,3.0,2.0,110,3
190,Built-up Area,18-Dec,Kanakpura Road,4 Bedroom,NaN,2250.00,4.0,1.0,110,4
210,Super built-up Area,20-May,1st Block Jayanagar,4 BHK,NaN,2850.00,4.0,1.0,428,4
248,Plot Area,17-May,Meenakunte,3 Bedroom,Sreat R,4050.00,3.0,2.0,280,3
520,Built-up Area,19-Jul,"Yemlur, Old Airport Road,",3 BHK,NaN,1595.00,3.0,2.0,115,3
524,Super built-up Area,17-Dec,Jakkur,4 BHK,Lecco C,5230.00,6.0,1.0,465,4
600,Super built-up Area,17-Nov,Konanakunte,3 BHK,Prasa W,2791.00,3.0,1.0,223,3
656,Built-up Area,18-Mar,Haralur Road,4 BHK,SNnia E,3385.00,5.0,NaN,260,4
697,Plot Area,17-Aug,Anjanapura,3 Bedroom,NaN,1500.00,3.0,1.0,139,3
706,Built-up Area,19-Mar,Hennur Road,3 Bedroom,NaN,2264.00,3.0,1.0,159,3
719,Super built-up Area,20-Jun,Dairy Circle,3 BHK,Soeurri,1855.00,3.0,1.0,225,3
759,Plot Area,18-Nov,Varthur Road,4 Bedroom,NaN,2760.00,4.0,2.0,155,4
899,Built-up Area,18-Feb,Whitefield,3 BHK,NaN,1897.00,3.0,2.0,130,3
1264,Built-up Area,18-May,Hennur,3 Bedroom,Asoilul,2264.00,NaN,NaN,155,3
1281,Built-up Area,18-Jan,Whitefield,3 Bedroom,NaN,2842.00,3.0,2.0,162,3
1330,Super built-up Area,22-May,Jakkur,4 BHK,SoineC,3467.86,6.0,3.0,249,4
1334,Plot Area,18-May,Whitefield,3 Bedroom,WoarkEm,1500.00,3.0,1.0,130,3
1379,Plot Area,18-Feb,1st Block HRBR Layout,8 Bedroom,NaN,1200.00,7.0,0.0,235,8
1467,Super built-up Area,21-Mar,Hebbal,3 BHK,Oztarol,1790.00,3.0,2.0,127,3
1576,Super built-up Area,16-Dec,Yelachenahalli,2 BHK,NaN,2400.00,1.0,1.0,150,2
2623,Plot Area,18-Jul,Dodsworth Layout,4 Bedroom,NaN,30000.00,4.0,NaN,2100,4
2762,Built-up Area,17-Sep,HAL 2nd Stage,2 BHK,NaN,1226.00,3.0,1.0,135,2
3077,Plot Area,19-Dec,Sarjapura - Attibele Road,4 Bedroom,NaN,1800.00,4.0,NaN,110,4
3315,Plot Area,17-Jun,Sarjapur Road,3 Bedroom,AztheBr,2600.00,3.0,2.0,200,3
3472,Super built-up Area,15-Nov,Kothanur,3 BHK,Somumys,1760.00,3.0,NaN,150,3
3624,Super built-up Area,16-Jul,Victoria Layout,2 BHK,NaN,1300.00,2.0,1.0,129,2
3792,Built-up Area,17-Dec,Hebbal,2 BHK,Mahosya,1420.00,2.0,2.0,107,2
4253,Plot Area,17-Nov,Varthur,4 Bedroom,NaN,4500.00,5.0,2.0,300,4
4529,Plot Area,17-Feb,Old Madras Road,4 Bedroom,NaN,2600.00,4.0,NaN,260,4
4857,Super built-up Area,20-Nov,Whitefield,3 BHK,PritaDo,1778.00,3.0,2.0,122,3
5349,Plot Area,20-Jul,Kanakpura Road,3 Bedroom,NaN,2100.00,3.0,2.0,140,3
5695,Super built-up Area,20-Jul,Langford Gardens,3 BHK,Soond R,2777.29,5.0,2.0,650,3
5762,Plot Area,18-Oct,Devanahalli,4 Bedroom,Amais V,2400.00,5.0,2.0,190,4
5783,Built-up Area,19-Jun,Sarjapur,4 Bedroom,Caonand,2585.50,4.0,0.0,139,4
5872,Super built-up Area,15-Oct,Kothanur,3 BHK,Somumys,1760.00,3.0,NaN,111,3
7079,Plot Area,17-Apr,Hennur Road,3 Bedroom,NaN,2700.00,3.0,2.0,150,3
7138,Built-up Area,15-Dec,1st Block Jayanagar,3 BHK,Bhsic C,1200.00,2.0,0.0,130,3
7598,Built-up Area,16-Sep,Indira Nagar,4 Bedroom,NaN,3200.00,3.0,2.0,250,4
7636,Built-up Area,19-Jan,Kanakpura Road,3 BHK,PrityFa,1603.00,3.0,3.0,113,3
8343,Plot Area,16-Mar,HBR Layout,4 Bedroom,NaN,2400.00,5.0,0.0,320,4
9080,Plot Area,20-Dec,Binny Pete,3 Bedroom,Shestlo,1282.00,3.0,2.0,178,3
10029,Super built-up Area,17-Jan,Thanisandra,3 BHK,Soitya,2087.00,4.0,2.0,139,3
10881,Built-up Area,19-Oct,Whitefield,4 Bedroom,NVaree,3565.00,4.0,0.0,218,4
11549,Built-up Area,19-May,Thanisandra,4 BHK,G conTh,2695.00,4.0,3.0,188,4
11558,Plot Area,19-Oct,Whitefield,4 Bedroom,NVaree,60.00,4.0,2.0,218,4
11759,Plot Area,16-Jan,Sarjapur Road,4 Bedroom,Saacesa,1240.00,4.0,0.0,110,4

Insight:
Identifies luxury housing segment

Whitefield – 2 BHK Houses

In [10]:

data.loc[(data["location"]=="Whitefield") & (data["Num_Bhk"]==2)]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,Num_Bhk
47,Super built-up Area,20-Sep,Whitefield,2 BHK,Goted U,1459.0,2.0,1.0,94,2
1072,Plot Area,18-Sep,Whitefield,2 Bedroom,NaN,1200.0,2.0,1.0,45,2

Insight:
Helps buyers targeting a specific location and configuration.

Area < 800 sqft

In [11]:
len(data.loc[data["total_sqft"]<800])

19

Insight:
Identifies compact or affordable housing units

Grouping & Aggregation

In [12]:

house_price_average=data.groupby("location")["price"].mean().reset_index()
sort_avg=house_price_average.sort_values(by="price",ascending=False)
sort_avg.head(5)

            location   price
25  Dodsworth Layout  2100.0
54  Langford Gardens   650.0
44            Jakkur   357.0
32        HBR Layout   320.0
59        Meenakunte   280.0

Insight
Top 5 most expensive locations highlight premium real estate zone

Sorting Analysis

In [ ]:
data.sort_values(by="price",ascending=False)[["location","price"]].head(10)

Insight:
Shows top luxury properties and their locations.

Statistical Analysis

In [ ]:

data["price"].min()
data["price"].max()
data["price"].std()
data["Num_Bhk"].var()
data[["price","Num_Bhk"]].corr()


Insight
Positive correlation exists between BHK and price.
However, location also plays a major role.

Real-Life Scenario


data.loc[(data["price"]<=75)&(data["Num_Bhk"]==2)]["location"].head(3)

Insight
For a ₹75 lakh budget and 2 BHK requirement, suitable locations were identified — useful for buyer recommendations.